---
const {img, parrafo, titulo} = Astro.props
---


<article class="modulo2">
    <img src={img} alt="botellas-acero">
    <div class="texto2">
        <p>{parrafo}</p>
        <h3>{titulo}</h3>
        <a href="/listaPre" target="_blank" aria-label="ver catalago"><p class="ver">VER MÁS</p></a>
        <div class="barra-hor"></div>
        <a href="/listaPre" target="_blank" aria-label="ver catalago"><button>VER CÁTALOGO</button></a>
    </div>
</article>

<style>
    .modulo2 {
     position: relative;
     display: flex;
     justify-content: start;
     align-items: center;
     width: 750px;
     height: 375px;
     transition: 0.4s ease;
     cursor: pointer;
     border-radius: 20px;
    }
   .modulo2 img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
    }
   
   .modulo2:hover {
     transform: scale(0.9);
     box-shadow: rgba(228, 34, 193, 0.884) 0px 5px 15px;
    }
    .modulo2 .texto2 .barra-hor {
        margin-top: 10px;
        width: 50px;
        height: 2px;
        background-color: #d70788;
    }

    .modulo2 .texto2 {
        position: absolute;
        left: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto2 p {
    color: #d70788;
    font-size: 14px;
    }
    .texto2 h3 {
    color: #fff;
    font-size: 22px;
    /* padding-top: 20px;*/
    font-style: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
   }
   .texto2 a {
    text-decoration: none;
   }

   .texto2 button {
    cursor: pointer;
    margin-top: 20px;
    padding: 6px 30px;
    border-radius: 20px;
    background-color: #0e0c0c;
    color: #d70788;
    border: 2px solid #d70788;
   }
   .texto2 .ver {
    display: none;
   }
   @media (max-width:750px) {
   

    .modulo2 {
        width: 360px;
        height: 170px;
    }
    .modulo2 img {
        border-radius: 0;
    }

    .modulo2 .texto2 button {
        display: none;
    }

    .modulo2 .texto2 .barra-hor {
        margin-top: 10px;
        width: 50px;
        height: 2px;
        background-color: #d70788;
    }

    .modulo2 .texto2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modulo2 .texto2 p {
        display: none;
    }

    .modulo2 .texto2 .ver {
        display: block;

    }
  }


</style>