---
const {img, titulo, parrafo} = Astro.props
---


<article class="modulo">
    <img src={img} alt="productos-termo">
    <div class="texto">
       <h3>{titulo}</h3>
       <a href="/prueba" target="_blank"><p>{parrafo}</p></a>
       <div class="barra-hor"></div>
    </div>
</article>
    

    

<style>
    .modulo {
      width: 340px;
      height: 300px;
      border-radius: 30px;
      position: relative;
      transition: 0.4s ease;
      cursor: pointer;
      
    }
    
   
    .modulo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        
    }
   
    .texto {
       position: absolute;
       top: 10px;
       left: 20px;
       padding-top: 15px;
       display: flex;
       flex-direction: column;
       
    }
    .texto a {
        text-decoration: none;
    }
    .texto h3 {
        color: #fff;
        font-size: 18px;
        font-family: "Montserrat", sans-serif !important;
        font-style: normal;
        font-weight: 500 !important;
    }
      
      
      

   .texto p {
       color: #d70788;
       font-size: 14px;
       padding-top: 2px;
    }
   

   .texto .barra-hor {
       margin-top: 2px;
       width: 50px;
       height: 2px;
       background-color: #d70788;
    
    }
    .modulo:hover {
      transform: scale(0.9);
      box-shadow: rgba(228, 34, 193, 0.884) 0px 5px 15px;
    }
   @media (max-width:750px) {
    
    .modulo {
        width: 360px;
        height: 170px;
        position: relative;
    }
    .modulo img {
        height: 170px;
        object-fit: cover;
        border-radius: 0;
        
    }
  }



</style>