---
import Bigcard from "./productos/Bigcard.astro";
import Mediumcard from "./productos/Mediumcard.astro";
---
<div>
    <Bigcard 
        img="../img/producto4SinTipo.webp"
        parrafo="Mate aluminio I Tapper I Termo y más..."
        titulo="Productos para vinilo"
    />
    <Mediumcard 
        img="../img/producto5SinTipo.webp"
        titulo="Agenda y más"
    />


</div>

<style>
    div {
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    @media (max-width:750px) {
        div {
          width: 100%;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
    }
        
</style>