<footer>
    <img class="logo" src="/img/logo.png" alt="LogoJDInsumos">
<div class="bottomfirst">

    <section class="emails">
        <article class="ubicacion">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-clock-hour-4">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 12l3 2" /><path d="M12 7v5" /></svg>
            <p>Nuestro horarios de atención es de lun a sáb: 10:00-12:00 y 13:00-16:00hs.
             </p>
            </article>
        <br>
        <article class="ubicacion">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
            <p>Int. Dastugue 2101, B1742 Paso del Rey, Provincia de Buenos Aires.</p>
        </article>
    </section>

    <div class="social">
        <img src="/img/facebook-svgrepo-com (1).svg" alt="facebook" >
        <div class="vertical"></div>
        <img src="/img/whatsapp-logo-variant-svgrepo-com.svg" alt="whatsapp" >

    </div>
</div>
</footer>

<style>
    footer {
        width: 100%;
        height: 300px;
        background-color: #0a0a0a;
    }
     
    
    

    footer .logo {
      width: 220px;
      padding: 40px;
    }

    footer h3 {
      font-size: 22px;
      color: #fff5fc;
      padding-bottom: 40px;
    }

    .ubicacion svg {
      color: #d70788;
      margin-right: 20px;
    }

    footer 
    .bottomfirst {
      padding: 40px;
      border-top: 1px solid #2d2d2d;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .bottomfirst .emails {
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: #fff5fc;
      font-size: 12px;
      /*padding-left: 30px;
      padding-bottom: 20px;*/
    }

    .ubicacion {
      display: flex;
      align-items: center;
      margin-bottom: -30px;
    }
    .bottomfirst .social {
      padding-top: 30px;
      display: flex;
      gap: 20px;
    }
    .social img {
      width: 30px ;
    }
    .social .vertical {
     width: 2px;
     height: 25px;
     background-color: #2d2d2d;
    }
    @media (max-width: 800px) {
    footer {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    footer img {
        padding-bottom: 20px;
    }

    footer .bottomfirst {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        width: 350px;
    }
    .emails {
        margin-bottom: 40px;
    }
    .social img {
        width: 25px;
    }



  }



</style>