<section class="section">
    <div class="nos">
        <div class="info">
            <h1>NOSOTROS somos <span>TU POLIRUBRO!!!..</span></h1>
            <p>
                JDInsumos es un emprendimiento polirrubro gestionado por la
                familia. Nos enorgullece ofrecer una amplia gama de productos y
                servicios para satisfacer las necesidades diarias de nuestros
                clientes. Enfocados en la atención al cliente, la política
                comercial de JDInsumos se basa en brindar soluciones y
                asesoramiento a través de un trato cordial y personalizado,
                ofreciendo un amplio surtido de productos a los mejores precios.
            </p>
        </div>
        <div class="imagenes">
            <img src="/img/undraw2.svg" alt="juntos" />
        </div>
    </div>
</section>

<style>
    .section {
        width: 100%;
        height: auto;
        background-color: #2d2d2d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nos {
        margin: 20px;
        border-radius: 15px;
        padding: 15px;
        width: 90%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .nos .info {
        width: 50%;
    }

    .info h1 {
        font-size: 26px;
        text-align: center;
        color: #fff;
        padding: 15px 0;
        letter-spacing: 2px;
    }
    .info span {
        color: #d70788;
    }
    .info p {
        font-size: 18px;
        color: #fff;
        line-height: 30px;
    }
    .imagenes {
        width: 450px;
        height: 350px;
        background-color: #fff;
        border: 3px solid #d70788;
        border-radius: 47% 53% 29% 71% / 48% 29% 71% 52%;
        animation: move 8s ease-in-out infinite;
    }
    @keyframes move {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30%;
        }
        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
    }
        
    .imagenes img {
        width: 90%;
    }


    @media (max-width: 800px) {
        .section {
            width: 100%;
            
        }
        .nos {
            width: 95%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .nos .info {
            width: 100%;
            font-size: 20px;
        }
        .nos p {
            font-size: 15px;
        }
        .imagenes {
            width: 100%;
        }
        .imagenes img {
            width: 350px;
        }
    }
</style>
