<div class="whatsapp">   
    <a class="wha"  href="" target = "_black"><img src="/img/whatsapp.svg" alt="whatsapp"></a>
    <a class="fac" href="" target="_blank"><img src="/img/facebook.svg" alt="facebook"></a>
</div>

<style>
    .whatsapp {
     position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 999;
    }
    
    .whatsapp .wha  {
      text-decoration: none;
    }
    .fac img {
      background-color: rgb(27, 27, 129);
      border-radius: 10px;
      width: 50px;
      transition: ease 0.3s;
    }
    .fac img:hover {
      transform: scale(1.1);
    }
    .wha img {
      transition: ease 0.3s;
      width: 50px;
     }
    .wha img:hover {
      transform: scale(1.1);
     }
   

</style>